<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>Saved on Thu Aug 07 15:52:35 AST 2025</comment>
<entry key="database.api.enabled">true</entry>
<entry key="standalone.doc.root">/Users/jonatanmaria/Desktop/oracledb/oracledb/ords/global/doc_root</entry>
<entry key="standalone.http.port">8080</entry>
</properties>
